<ion-header [translucent]="true">
  <ion-toolbar (click)="$event.stopPropagation()">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recordatorios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>Hora:</ion-label>
    <ion-datetime [(ngModel)]="horaRecordatorio" displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Descripción:</ion-label>
    <ion-input [(ngModel)]="textoRecordatorio"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="programarNotification()">Programar recordatorio</ion-button>
  <ion-button expand="block" color="success" (click)="navegarALista()">Lista de Recordatorios</ion-button>
</ion-content>
